{% extends "core/base.html" %}

{% block title %}Select a service{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if no_access %}
        <h1 class="govuk-heading-l">Access not available</h1>
        <p class="govuk-body">You do not have access to any services.</p>
      {% else %}

        <form method="post">
          {% csrf_token %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">Select a service</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                {% for regime in regimes %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input"
                         id="regime_{{ forloop.counter }}"
                         name="regime_id" type="radio"
                         value="{{ regime.regime_id }}" required>
                  <label class="govuk-label govuk-radios__label"
                         for="regime_{{ forloop.counter }}">
                    {{ regime.regime_name }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>

      {% endif %}

    </div>
  </div>

{% endblock %}
