{% extends "core/base.html" %}

{% block title %}Routing — {{ section.section_id }} — Platform administration{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <a href="{% url 'core:tools_sections_list' %}" class="govuk-back-link">Sections</a>

      <h1 class="govuk-heading-l govuk-!-margin-top-4">
        Routing — <code>{{ section.section_id }}</code>
      </h1>
      <p class="govuk-body-s" style="color:#505a5f">{{ section.section_name }}</p>

      {% include 'core/_routing_tree.html' %}

    </div>
  </div>

{% endblock %}
